* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Garamond, 'Times New Roman', sans-serif
}

/* STYLE FOR HEADER START*/
header {
    margin-bottom: 0;
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: linear-gradient(to right,  rgb(22, 96, 132), rgb(23, 112, 149), 
    rgb(28, 143, 186), rgb(31, 165, 214), rgb(28, 143, 186), rgb(23, 112, 149), rgb(22, 96, 132));
}
/*rgb(118, 200, 147), rgb(100, 191, 151)*/

header nav {
    margin: 6px 0;
    width: 100%;
}

header nav ul {
    flex-wrap: wrap;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
 header nav ul li {
     padding: 5px;
 }

header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1.5vw;
    font-weight: lighter;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

header nav ul li a:hover {
    background-color: rgb(229, 229, 229);
    border-radius: 35px;
    color: black;
    font-weight: normal;
}
/* STYLE FOR HEADER END*/

/* STYLE FOR HERO START */

.hero {
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
    min-height: 300px;
    opacity: 0.9;
}

.title {
    padding: 150px;
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.title h1 {
    padding: 15px;
    text-align: center;
    font-size: 45px;
    color: white;
    background-color: rgb(24, 120, 158);
    border-radius: 15px;
    font-weight: bold;
}

/* STYLE FOR HERO START */

/* STYLE FOR SECTION TITLES */
.section-title {
    font-size: 25px;
    color: rgb(22, 96, 132);
    padding-bottom: 10px;
    text-align: center;
    margin: 0 auto 10px auto;
    width: 50%;
}
.section-title h2 {
    border-bottom: 3px solid rgb(22, 96, 132);
    width: 50%;
    margin: auto;
}

/* STYLE FOR ABOUT ME START */
.intro p {
    width: 80%;
    text-align: center;
    line-height: 1.6;
    font-size: 20px;
    color: rgb(24, 128, 166);
    margin: 0 auto;
}
/* STYLE FOR ABOUT ME END */

/* STYLE FOR CONTACT ME START */

.info {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
    width: 100%;
    color: rgb(24, 128, 166);
}

.info div {
    padding: 0 10px 10px 10px;
    line-height: 1.5;
    justify-content: center;
    text-align: center;
    font-size: 25px;

}
.info a {
    text-decoration: none;
    color: rgb(24, 128, 166);
}

.email {
    flex: 0 33%;
}

.phone {
    flex: 1;
}

.github {
    flex: 1;
}

 .github p {
    font-weight: bold;
    padding-top: 20px;
 }

/* STYLE FOR CONTACT ME START */



