body {
    font-family: Garamond, 'Times New Roman', sans-serif;
    width: 100%;
}

/* STYLE FOR HEADER START*/
header {
    background-image: linear-gradient(to right,  rgb(22, 96, 132), rgb(23, 112, 149), 
    rgb(28, 143, 186), rgb(31, 165, 214), rgb(28, 143, 186), rgb(23, 112, 149), rgb(22, 96, 132));
}

header .container-fluid {
    padding: 20px;
}

header .row {
    margin: 0;
    padding: 10px;
}
header nav ul li {
    list-style: none;
    text-align: center;
}

header nav ul li a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: lighter;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

header nav ul li a:hover {
    background-color: rgb(229, 229, 229);
    border-radius: 35px;
    color: black;
    font-weight: normal;
}

/* STYLE FOR HERO START */

.hero {
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
    min-height: 300px;
    opacity: 0.9;
}

.title {
    padding: 150px 0;
    justify-content: center;
    margin: auto;
}

.title h1 {
    width: 60%;
    padding: 20px;
    text-align: center;
    font-size: 35px;
    color: white;
    background-color: rgb(22, 96, 132);
    border-radius: 15px;
    font-weight: bold;
    margin: 0;
}

/* STYLE FOR SECTION-TITLES START8*/
.section-titles {
    display: inline;
    padding: 20px;
    margin: auto;
}

.section-titles h2 {
    border-bottom: 2px solid rgb(22, 96, 132);
    color: rgb(22, 96, 132);
    width: 40%;
    margin: auto;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
}

/* STYLE FOR ABOUT ME START */
.intro p {
    width: 80%;
    text-align: center;
    line-height: 1.6;
    font-size: 20px;
    color: rgb(24, 128, 166);
    width: 80%;
    margin: 20px auto;
}

/* STYLE FOR MY WORK SECTION START*/
.projects {
    margin-top: 15px;
    align-items: center;
}

.projects div {
    padding: 20px;
}

.projects div h3 {
    margin-top: none;
    padding: 10px;    
    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
    color: rgb(24, 128, 166);
}

.run-buddy {
    width: 80%;
}

.robot-gladiators {
    width: 68%;
}

.projects div a {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

.projects img {
    max-width: 100%;
    max-height: 300px;
}

.projects img:hover {
    transform: scale(1.1);
}

.my-lifestyle {
    width: 40%;
}

.my-lifestyle img {
    max-width: 150%;
    max-height: 450px;
}


/* STYLE FOR CONTACT ME START */
.info {
    padding: 0 10px;
    padding-bottom: 10px;
    color: rgb(24, 128, 166);
}

.info div {
    padding: 10px 0;
    font-size: 28px;
    text-align: center;

}
.info a {
    text-decoration: none;
    color: rgb(24, 128, 166);
}

.email h3, .phone h3 {
    font-weight: bold;
}

.github p {
    font-weight: bold;
    padding: 20px 0;
}

@media screen and (max-width: 576px ) {
    
    .nav-about-me, .nav-my-work {
        margin-bottom: 10px;
    }

    .nav-contact-me {
        margin-top: 10px;
    }    
}
