* {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: Garamond, 'Times New Roman', sans-serif;
}

/* STYLE FOR HEADER START*/
header {
    background-image: linear-gradient(to right,  rgb(22, 96, 132), rgb(23, 112, 149), 
    rgb(28, 143, 186), rgb(31, 165, 214), rgb(28, 143, 186), rgb(23, 112, 149), rgb(22, 96, 132));
}

header .container-fluid {
    padding: 20px;
}

header .row {
    margin: 0;
    padding: 10px;
}
header nav ul li {
    list-style: none;
    text-align: center;
}

header nav ul li a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: lighter;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

header nav ul li a:hover {
    background-color: rgb(229, 229, 229);
    border-radius: 35px;
    color: black;
    font-weight: normal;
}

/* STYLE FOR HERO START */

.hero {
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
    min-height: 300px;
    opacity: 0.9;
}

.title {
    padding: 150px 0;
    justify-content: center;
    width: 60%;
    margin: auto;
}

.title h1 {
    padding: 20px;
    text-align: center;
    font-size: 35px;
    color: white;
    background-color: rgb(22, 96, 132);
    border-radius: 15px;
    font-weight: bold;
    margin: 0;
}

/* STYLE FOR SECTION-TITLES START8*/
.section-titles {
    display: inline;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    color: rgb(22, 96, 132);
    font-weight: normal;
    margin: 7px auto 7px auto;
    width: 50%;
}
.section-titles h2 {
    border-bottom: 2px solid rgb(22, 96, 132);
    width: 40%;
    margin: auto;
}


/* STYLE FOR ABOUT ME START */
.intro p {
    text-align: center;
    line-height: 1.6;
    font-size: 20px;
    color: rgb(24, 128, 166);
    width: 80%;
    margin: 0 auto;
}

/* STYLE FOR MY WORK SECTION START*/
.projects {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

.projects div {
    padding: 20px;
}

.projects div h3 {    
    text-align: center;
    font-size: 25px;
    padding-bottom: 10px;
    color: rgb(24, 128, 166);
}


.projects img {
    width: 600px;
    border-radius: 15px;
    height: 350px;
}

.projects div:hover {
    transform: scale(1.1);
}

/* STYLE FOR MY WORK SECTION END*/

/* STYLE FOR CONTACT ME START */
.info {
    padding: 0 10px;
    padding-bottom: 10px;
    width: 100%;
    justify-content: space-around;
    width: 100%;
    color: rgb(24, 128, 166);
}

.info div {
    padding: 10px 0;
    line-height: 1.5;
    font-size: 28px;
    justify-content: center;
    text-align: center;

}
.info a {
    text-decoration: none;
    color: rgb(24, 128, 166);
}

.email h3 {
    font-weight: bold;
}

.phone {
    font-weight: bold;
}


.github h3 {
    font-weight: bold;
}

.github p {
    font-weight: bold;
    padding: 20px;
}
